<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置主配置文件的dtd约束 -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


	<settings>
		<!-- 使用spring后，如果需要输出mybatis的日志，需要如下的配置 -->
		<setting name="logImpl" value="log4j" />
		<!-- 使用resultType，表中字段使用下划线风格，类中属性使用的是驼峰命名 查询时如果使用resultType，进行如下配置 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.qfedu.entity.SysUser" alias="user" />
	</typeAliases>
	<!-- 分页插件 -->
	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
			<property name="helperDialect" value="mysql" />
		</plugin>
	</plugins>

</configuration>